body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.header {
  background-color: #333;
  color: white;
  text-align: left;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  padding: 25px 25px;
}

#current-date-time {
  flex: 1;
  font-size: 17px;
}

#weather {
  flex: 1;
  text-align: right;
  font-size: 17px;
}

.main-content {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.sidebar {
  flex: 1;
  background-color: #f4f4f4;
  padding: 20px;
  margin-top: 40px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #333;
  color: white;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 20px;
}

.nav-item {
  color: white;
  text-decoration: none;
}

.nav-item:hover {
  text-decoration: underline;
}

.event {
  margin-bottom: 10px;
}
